[Desktop Entry]
Encoding=UTF-8
Name=Puss Source Editor
Name[zh_CN]=Puss 源代码编辑器
Comment=Source Editor for c/c++
Comment=C/C++ 源代码编辑器
Exec=puss %U
Terminal=false
StartupNotify=true
Type=Application
MimeType=text/plain;
Icon=/usr/share/puss/res/puss.png
Categories=GNOME;GTK;Utility;TextEditor;
